

.theme-base-0a aside.sidebar {
  /* font-size: calc( attr(width) * 0.58 )... If only one could. */
  /* oh god no... can someone please get http://www.houseind.com/fonts/neutraface2 into the public domain. */
  letter-spacing: -1px;
  font-weight: 700;
  background-color: #f3df49;
  color: #2e2e2c;
}

article.post h1.post-title a {
  color: #2e2e2c;
}

div.read-more-link a{
  color: red;
}


.container {
  padding: 0;
}

.sidebar-sticky {
  bottom: initial;
}

.sidebar-about h1 {
  font-size: 2rem;
  color: #2e2e2c;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a.site-link-sidebar {
  color: #2e2e2c;
  font-weight: 200;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

main.content.container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.post {
  margin-bottom: 2em;
  text-align: justify;
}


@media (max-width: 32em) {
  .sidebar-about h1 {
    font-size: 2.5rem;
  }

  main h1{
    text-align: justify;
    font-size: 1.32rem;
  }
}

@media (min-width: 0rem) and (max-width: 767) {
  .theme-base-0a aside.sidebar {
    /* font-size: calc( attr(width) * 0.58 )... If only one could. */
    /* oh god no... can someone please get http://www.houseind.com/fonts/neutraface2 into the public domain. */
    letter-spacing: -1px;
    font-weight: 700;
    background-color: #f3df49;
    color: #2e2e2c;
    width: 18rem;
  }
}

@media (min-width: 767px) {
  main.content.container {
    margin-left: 20rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
}
